{{ define "main" }}

<section class=" main-top-about bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-6  col-12 heading-section">
                <div class="text">
                    <h1 class="text-h2">Projects </h1>
                    <p>Turning Ideas into Interactive web experiences</p>
                    <p><a href="/contact" class="btn btn-primary">Hire me</a> <a href="/images/Rohit.docx" class="btn btn-primary btn-outline-primary">Download CV</a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6  col-12 text-center">
                <img src="/images/projects.svg" class="img-fluid" alt="projects">
            </div>
        </div>
    </div>

</section>

<section>
    <div class="container-fluid mt-5">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <!-- <span class="subheading">Accomplishments</span> -->
                <h2 class="mb-4">Our Projects</h2>
                <p>Turning Ideas into Interactive web experiences</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-12">
                <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/images/projects/vizitor.svg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a target="_blank" href="https://www.vizitorapp.com/">vizitor</a></h3>
                        <h3><a target="_blank" href="https://www.vizitorapp.com/">Web Design</a></h3>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-lg-4 col-12">
                <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/images/projects/viithiisys.svg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a target="_blank" href="https://www.viithiisys.com/">viithiisys</a></h3>
                        <h3><a target="_blank" href="https://www.viithiisys.com/">Web Design</a></h3>

                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-12">
                <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/images/projects/veloice.svg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a target="_blank" href="https://veloice.com/">veloice</a></h3>
                        <h3><a target="_blank" href="https://veloice.com/">Web Design</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-12">
                <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/images/projects/famstar.svg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a target="_blank" href="https://www.famstar.in/">famstar</a></h3>
                        <h3><a target="_blank" href="https://www.famstar.in/">Web Design</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-12">
                <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/images/projects/ENT.svg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a target="_blank" href="https://hearclearindia.com/">Hear clear india</a></h3>
                        <h3><a target="_blank" href="https://hearclearindia.com/">Web Design</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-12">
                <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/images/projects/drsanjaysachdeva.svg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a target="_blank" href="https://drsanjaysachdeva.com/">Dr. Sanjay Sachdeva</a></h3>
                        <h3><a target="_blank" href="https://drsanjaysachdeva.com/">Web Design</a></h3>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-lg-4 col-12">
                <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/images/projects/dr-neha.svg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a target="_blank" href="https://drnehasood.in/">Dr. Neha Sood</a></h3>
                        <h3><a target="_blank" href="https://drnehasood.in/">Web Design</a></h3>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-lg-4 col-12">
                <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/images/projects/draashimachopraent.svg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a target="_blank" href="https://draashimachopraent.com/">Dr. Aashima Chopra</a></h3>
                        <h3><a target="_blank" href="https://draashimachopraent.com/">Web Design</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-12">
                <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/images/projects/Billboard.svg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a target="_blank" href="https://tricitydigitalinc.com/">Digital Billboards</a></h3>
                        <h3><a target="_blank" href="https://tricitydigitalinc.com/">Web Design</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-12">
                <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/images/projects/novage.svg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a target="_blank" href="https://novage.ms/">Novagem</a></h3>
                        <h3><a target="_blank" href="https://novage.ms/">Web Design</a></h3>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-lg-4 col-12">
                <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/images/projects/xyzgroup.svg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a target="_blank" href="https://www.xyzgroup.ca/">XYZ Painting</a></h3>
                        <h3><a target="_blank" href="https://www.xyzgroup.ca/">Web Design</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-12">
                <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/images/projects/ENT.svg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a target="_blank" href="https://hearclearindia.com/">Hear clear india</a></h3>
                        <h3><a target="_blank" href="https://hearclearindia.com/">Web Design</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-12">
                <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/images/projects/first-coffee.svg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a target="_blank" href="https://first-coffee.netlify.app/">First Coffee</a></h3>
                        <h3><a target="_blank" href="https://first-coffee.netlify.app/">Web Design</a></h3>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-lg-4 col-12">
                <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/images/projects/atwal.svg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a target="_blank" href="https://atwal.ca/">Atwal</a></h3>
                        <h3><a target="_blank" href="https://atwal.ca/">Web Design</a></h3>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-lg-4 col-12">
                <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/images/projects/mohitchaudhary.svg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a target="_blank" href="https://mohitchaudhary.in/">mohitchaudhary</a></h3>
                        <h3><a target="_blank" href="https://mohitchaudhary.in/">Web Design</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-12">
                <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/images/projects/cryptozack.svg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a target="_blank" href="https://cryptozack.com/">CryptoZack</a></h3>
                        <h3><a target="_blank" href="https://cryptozack.com/">Web Design</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-12">
                <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/images/projects/leadhooper.svg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a target="_blank" href="https://leadhooper.com/">Leadhooper</a></h3>
                        <h3><a target="_blank" href="https://leadhooper.com/">Web Design</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-12">
                <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/images/projects/requirementai.svg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a target="_blank" href="https://requirement.ai/">Requirement.ai</a></h3>
                        <h3><a target="_blank" href="https://requirement.ai/">Web Design</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-12">
                <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/images/projects/hearclearin.svg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a target="_blank" href="https://hearclear.in/">hearclear</a></h3>
                        <h3><a target="_blank" href="https://hearclear.in/">Web Design</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-12">
                <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/images/projects/gshomes.svg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a target="_blank" href="https://gshomes.netlify.app/">GS Homes</a></h3>
                        <h3><a target="_blank" href="https://gshomes.netlify.app/">Web Design</a></h3>
                    </div>
                </div>
            </div>





        </div>

    </div>
</section>

{{ end }}