<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blogs</title>
    <meta name="description" content="Explore our latest blog posts and articles on various topics.">
    <meta name="keywords" content="blog, articles, updates, {{ .Site.Title }}">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/others.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.jpg" type="image/x-icon">

    <meta property="og:title" content="Blogs " />
    <meta property="og:locale" content="en_US" />
    <meta property="og:description" content="Explore our latest blog posts and articles." />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:image" content="https://rohitsaini.co.in/images/website-design.jpeg" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:type" content="website" />
    <meta name="robots" content="index, follow" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <a href="https://api.whatsapp.com/send?text=Hello! I'm looking for Thanks!&amp;phone=+91 9813866346" target="_" class="whatsapp_float"><img src="/images/whatsapp.svg" alt="whatsapp"> </a>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/images/logo.svg" alt="logo"> </a>
            <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav nav ml-auto">
                    <li class="nav-item"><a href="/" class="nav-link"><span>Home</span></a></li>
                    <li class="nav-item"><a href="/about" class="nav-link"><span>About</span></a></li>
                    <li class="nav-item"><a href="/skills" class="nav-link"><span>Skills</span></a></li>
                    <li class="nav-item"><a href="/services" class="nav-link"><span>Services</span></a></li>
                    <li class="nav-item"><a href="/projects" class="nav-link"><span>Projects</span></a></li>
                    <li class="nav-item"><a href="/blog" class="nav-link"><span>Blog</span></a></li>
                    <li class="nav-item"><a href="/contact" class="nav-link"><span>Contact</span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="breadcumb-area" style="background-image: url(/images/blog.png); height: 70vh;">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-md-9 mx-auto">
                    <div class="bradcumb-title text-center">
                        <h1 class="text-white">Blog</h1>
                        <p class="text-white">Liusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--================Blog Area =================-->
    <section class="blog_area mt-5 mb-5">
        <div class="container">
            <div class="row" id="showresults">
                {{ range (.Paginator 1000).Pages.ByPublishDate.Reverse }}
                <div class="col-lg-4 col-md-6 col-12 phone-fast mt-4 filter {{ range .Params.categories }}{{ . }} {{ end }}">
                    <div class="whychoose-card">
                        {{ .Render "li" }}
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

</body>

</html>