{{ define "main" }}
<!-- --------------- Start page header ----------- -->
<section class="page__header position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-xl-between justify-content-center align-items-center">
                <img src="/img/pageHeader/Group_78_3.svg" alt="" class="img-fluid left__pei" />
                <img src="/img/pageHeader/Group727.svg" alt="" class="left__arrow img-fluid" />
                <div class="text-center" data-aos="fade-up" data-aos-delay="100" data-aos-offset="0"
                    data-aos-duration="1000">
                    <h1 class="text-white">We’re Not an Agency. We’re a Cult of Growth.</h1>
                </div>
                <img src="/img/pageHeader/Group726.png" alt="" class="img-fluid right__arrow" />
            </div>
        </div>
    </div>
</section>
<!-- --------------- End page header ----------- -->

<!-- --------------- Start About ----------- -->
<section class="about about__page py__130">
    <div class="container">
        <!-- TItle -->
        <div class="row justify-content-between about__title" data-aos="fade-down" data-aos-delay="100"
            data-aos-offset="0" data-aos-duration="1000">
            <div class="col-lg-10">
                <div>
                    <h1 class="title">
                        Agencies use various analytics tools to track and measure
                        performance of online marketing efforts.
                    </h1>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="about__title_shap" style="width: 100%; height: 100%; position: relative">
                    <img src="/img/banner/Shape.svg" alt="" />
                </div>
            </div>
        </div>
        <!-- Title -->
        <div class="row justify-content-between align-items-center about__wapper">
            <div class="col-xl-5 col-lg-6" data-aos="fade-up" data-aos-delay="100" data-aos-offset="0"
                data-aos-duration="1000">
                <div class="about__wapper_left about__page_left">
                    <p>
                        High-quality, relevant content is essential for engaging and
                        retaining online audiences. Digital marketing agencies often
                        create content strategies, produce blog posts, articles, videos
                    </p>
                    <a href="about.html" class="circle circle__black">
                        <img src="assets/icons/arrow-up-rignt-black.svg" alt="" />
                        <span>More About Us</span>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0"
                data-aos-duration="1000">
                <div class="about__wapper_center">
                    <img src="/img/about/Rectangle105.png" alt="" />
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 mt-5 mt-xl-0" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0"
                data-aos-duration="1000">
                <ul class="about__wapper_right about__page_right">
                    <li>
                        <i class="fa-solid fa-check"></i>
                        <span>We Grow Businesses</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-check"></i>
                        <span>We’re skilled developers</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-check"></i>
                        <span>Perfect & modern solution</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-check"></i>
                        <span>Quality marketing</span>
                    </li>
                </ul>
            </div>
        </div>

        <!-- ------ partner start -->
        <div class="partner bg-white">
            <div class="partner__wapper">
                <div class="partner__content">
                    <div class="slide">
                        <img src="/img/about/Frame_12.svg" alt="" class="partner__logo" />
                    </div>
                    <div class="slide">
                        <img src="/img/about/Frame_13_1.svg" alt="" class="partner__logo" />
                    </div>
                    <div class="slide">
                        <img src="/img/about/Frame_14_1.svg" alt="" class="partner__logo" />
                    </div>
                    <div class="slide">
                        <img src="/img/about/Frame_15_1.svg" alt="" class="partner__logo" />
                    </div>
                    <div class="slide">
                        <img src="/img/about/Frame_16_1.svg" alt="" class="partner__logo" />
                    </div>
                    <div class="slide">
                        <img src="/img/about/Frame_12.svg" alt="" class="partner__logo" />
                    </div>
                    <div class="slide">
                        <img src="https://bestwpware.com/html/wrap/digiv//img/about/Frame_13.svg&#32;(1)" alt=""
                            class="partner__logo" />
                    </div>
                    <div class="slide">
                        <img src="https://bestwpware.com/html/wrap/digiv//img/about/Frame_14.svg&#32;(1)" alt=""
                            class="partner__logo" />
                    </div>
                    <div class="slide">
                        <img src="https://bestwpware.com/html/wrap/digiv//img/about/Frame_15.svg&#32;(1)" alt=""
                            class="partner__logo" />
                    </div>
                    <div class="slide">
                        <img src="https://bestwpware.com/html/wrap/digiv//img/about/Frame_16.svg&#32;(1)" alt=""
                            class="partner__logo" />
                    </div>
                </div>
            </div>
        </div>
        <!-- ------ partner End -->
    </div>
</section>
<!-- --------------- End About ----------- -->

<!-- --------------- Start Projects ----------- -->
<section class="projects projects__3 py__130">
    <div class="container">
        <!-- title Start -->
        <div class="d-lg-flex justify-content-between align-items-center projects__title" data-aos="fade-down"
            data-aos-delay="100" data-aos-offset="0" data-aos-duration="1000">
            <h1 class="title title__black">
                Our latest work for our best customer
            </h1>
            <a href="projects.html" class="circle circle__black mt-5 mt-lg-0">
                <img src="assets/icons/arrow-up-rignt-black.svg" alt="" />
                <span>View All Project</span>
            </a>
        </div>
        <!-- title End -->

        <div class="projects__wapper">
            <div class="projects__wapper_one">
                <div class="projects__wapper_card projects__3_card" data-aos="fade-up" data-aos-delay="100"
                    data-aos-offset="0" data-aos-duration="1000">
                    <a href="project_details.html"><img src="/img/projects/11.png" alt="" /></a>
                    <div>
                        <a href="project_details.html" class="prj__title t__28">Paid Media Solution</a>
                        <p class="project__group">Marketing / Solution</p>
                    </div>
                </div>
                <div class="projects__wapper_card projects__3_card" data-aos="fade-up" data-aos-delay="200"
                    data-aos-offset="0" data-aos-duration="1000">
                    <a href="project_details.html"><img src="/img/projects/10.png" alt="" /></a>
                    <div>
                        <a href="project_details.html" class="prj__title t__28">Paid Media Solution</a>
                        <p class="project__group">Marketing / Solution</p>
                    </div>
                </div>
            </div>
            <div class="projects__wapper_two">
                <div class="projects__wapper_card projects__3_card" data-aos="fade-up" data-aos-delay="300"
                    data-aos-offset="0" data-aos-duration="1000">
                    <a href="project_details.html"><img src="/img/projects/8.png" alt="" /></a>
                    <div>
                        <a href="project_details.html" class="prj__title t__28">Paid Media Solution</a>
                        <p class="project__group">Marketing / Solution</p>
                    </div>
                </div>

                <div class="projects__wapper_card projects__3_card" data-aos="fade-up" data-aos-delay="400"
                    data-aos-offset="0" data-aos-duration="1000">
                    <a href="project_details.html"><img src="/img/projects/9.png" alt="" /></a>
                    <div>
                        <a href="project_details.html" class="prj__title t__28">Paid Media Solution</a>
                        <p class="project__group">Marketing / Solution</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- --------------- End Projects ----------- -->

<!-- --------------- Start Testimonial ----------- -->
<section class="testimonial testimonial__2 testimonial__3 py__130">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100" data-aos-offset="0" data-aos-duration="1000">
                <img src="/img/testimonail/Group.png" alt="" class="w-100" />
            </div>
            <div class="col-lg-6">
                <div class="position-relative">
                    <!-- title Start -->
                    <div class="testimonial__title" data-aos="fade-down" data-aos-delay="100" data-aos-offset="0"
                        data-aos-duration="1000">
                        <h1 class="title">
                            What customer say’s about Digiv to take their service
                        </h1>
                    </div>
                    <!-- title End -->

                    <div class="testimonial__wapper">
                        <div class="testimonial__slides_2">
                            <div>
                                <div class="slide">
                                    <div class="d-flex gap-2 star">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </div>
                                    <p class="review">
                                        I got this book as a birthday present and simply was not
                                        able to put it down. It made me remember the joy of
                                        reading; and I hope it does the same for you.
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex gap-4 reviewer__info">
                                            <img src="/img/testimonail/Rectangle1.png" alt="" />
                                            <div>
                                                <p>Brendon Walton</p>
                                                <small>CTO Sales Management</small>
                                            </div>
                                        </div>
                                        <div>
                                            <img src="https://bestwpware.com/html/wrap/digiv//img/testimonail/quotes&#32;2.svg"
                                                alt="" class="quotes" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="slide">
                                    <div class="d-flex gap-2 star">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </div>
                                    <p class="review">
                                        I got this book as a birthday present and simply was not
                                        able to put it down. It made me remember the joy of
                                        reading; and I hope it does the same for you.
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex gap-4 reviewer__info">
                                            <img src="/img/testimonail/Rectangle1.png" alt="" />
                                            <div>
                                                <p>Brendon Walton</p>
                                                <small>CTO Sales Management</small>
                                            </div>
                                        </div>
                                        <div>
                                            <img src="https://bestwpware.com/html/wrap/digiv//img/testimonail/quotes&#32;2.svg"
                                                alt="" class="quotes" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="slide">
                                    <div class="d-flex gap-2 star">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </div>
                                    <p class="review">
                                        I got this book as a birthday present and simply was not
                                        able to put it down. It made me remember the joy of
                                        reading; and I hope it does the same for you.
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex gap-4 reviewer__info">
                                            <img src="/img/testimonail/Rectangle1.png" alt="" />
                                            <div>
                                                <p>Brendon Walton</p>
                                                <small>CTO Sales Management</small>
                                            </div>
                                        </div>
                                        <div>
                                            <img src="https://bestwpware.com/html/wrap/digiv//img/testimonail/quotes&#32;2.svg"
                                                alt="" class="quotes" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- --------------- End Testimonial ----------- -->

<!-- --------------- Start Blog ----------- -->
<section class="blogs blogs__2 py__130">
    <div class="container">
        <!-- title Start -->
        <div class="blogs__title" data-aos="fade-down" data-aos-delay="100" data-aos-offset="0"
            data-aos-duration="1000">
            <h1 class="title title__black text-center">
                See our latest daily blog and news from us
            </h1>
        </div>
        <!-- title End -->
        <div class="blogs__wapper">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-lg-0 mb-5" data-aos="fade-up" data-aos-delay="100" data-aos-offset="0"
                    data-aos-duration="1000">
                    <div class="blogs__wapper_card blogs__2_card">
                        <a href="about.html" class="">
                            <img src="/img/blogs/Rectangle9.png" alt="" class="card__thumb" />
                        </a>
                        <div>
                            <a href="about.html" class="card__title t__28">Change your life to a get 09 thing with the
                                lifestyle</a>
                            <div class="d-flex card__author">
                                <p>
                                    <img src="assets/icons/user-black.svg" alt="" />
                                    <span>Danuel Stone</span>
                                </p>
                                <p>
                                    <img src="assets/icons/comments-black.svg" alt="" />
                                    <span>34 Comments</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-lg-0 mb-5" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0"
                    data-aos-duration="1000">
                    <div class="blogs__wapper_card blogs__2_card">
                        <a href="about.html" class="">
                            <img src="/img/blogs/Rectangle99.png" alt="" class="card__thumb" />
                        </a>
                        <div>
                            <a href="about.html" class="card__title t__28">How to increase your business policy for next
                                generation</a>
                            <div class="d-flex card__author">
                                <p>
                                    <img src="assets/icons/user-black.svg" alt="" />
                                    <span>William Dalton</span>
                                </p>
                                <p>
                                    <img src="assets/icons/comments-black.svg" alt="" />
                                    <span>34 Comments</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-lg-0 mb-5" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0"
                    data-aos-duration="1000">
                    <div class="blogs__wapper_card blogs__2_card">
                        <a href="about.html" class="">
                            <img src="/img/blogs/Rectangle992.png" alt="" class="card__thumb" />
                        </a>
                        <div>
                            <a href="about.html" class="card__title t__28">How to increase in-app purchase why lead
                                generation is key
                                for</a>
                            <div class="d-flex card__author">
                                <p>
                                    <img src="assets/icons/user-black.svg" alt="" />
                                    <span>Sojol Saiful</span>
                                </p>
                                <p>
                                    <img src="assets/icons/comments-black.svg" alt="" />
                                    <span>03 Comments</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- --------------- End Blog ----------- -->


{{ end }}