<!--================Footer Area =================-->
<!-- --------------- start Footer ----------- -->
    <footer class="footer home1">
      <div class="container">
        <!-- Subscribe Form -->
        <div class="subscribe">
          <div class="row">
            <div class="col-lg-8">
              <h2>Your Competitors Will Hate You in 90 Days. Promise.</h2>
              <p>We don’t just “do marketing.” We execute. We convert. We scale. And we leave your competitors wondering what the hell just happened.</p>
            </div>
            <div class="col-lg-4 mt-5 mt-lg-0">
              <div>
                <input type="text" placeholder="Your Email" />
                <button class="common__btn">
                  <span>Subscribe Now</span>
                  <img src="assets/icons/arrow-up-rignt-black.svg" alt="" />
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Subscribe Form -->

        <!-- -------Logo and socal icon -->
        <div class="row footer__lo_co">
          <div class="col-12">
            <div class="d-flex justify-content-center">
              <a href="/" class="d-flex align-items-center footer__logo">
                <img src="assets/img/logo_white.svg" alt="" />
                <h5>Online Digital Web</h5>
              </a>
            </div>
            <ul class="d-flex justify-content-center gap-3 footer__socal">
              <li>
                <a href="/">
                  <i class="fa-brands fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="/">
                  <i class="fa-brands fa-pinterest-p"></i>
                </a>
              </li>
              <li>
                <a href="/">
                  <i class="fa-brands fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="/">
                  <i class="fa-brands fa-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- -------Logo and socal icon -->
        <hr class="footer__border" />
        <!-- ---- Info -->
        <div class="row footer__info">
          <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
            <div class="footer__info_address">
              <h3 class="footer__info_group">Address</h3>
              <p>Downtown Calgary canada</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <div>
              <h3 class="footer__info_group">Our Contact</h3>
              <ul class="footer__info_contact">
                <li>
                  <img src="assets/icons/Frame5.svg" alt="" />
                  <p>hellodigiv@gmail.com</p>
                </li>
                <li>
                  <img src="assets/icons/Frame6.svg" alt="" />
                  <p>+1 (825) 734-4597</p>
                </li>
                <li>
                  <img src="assets/icons/Frame7.svg" alt="" />
                  <p>Mon - Fri 10:00 - 18:00</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <div>
              <h3 class="footer__info_group">Quick Links</h3>
              <ul>
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="/">Our All Services</a>
                </li>
                <li>
                  <a href="/">About Digiv</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
            <div>
              <h3 class="footer__info_group">Help</h3>
              <ul>
                <li>
                  <a href="/">Contact Us</a>
                </li>
                <li>
                  <a href="/">FAQ's</a>
                </li>
                <li>
                  <a href="/">Privacy Pllicy</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- ---- Info -->

        <div class="row footer__copyright">
          <div class="col-12">
            <hr class="footer__border" />
            <p class="text-center">
              © Copyright 2025 All Rights Reserved by <a href="/">Online Digital Web</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!--  End Footer -->
<!--================End Footer Area =================-->

{{- partial "script.html" . -}}


</body>

</html>