<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->

    <meta charset="utf-8">
    <title>{{ .Title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
    <meta name="keywords" content="{{range .Params.keywords}}{{.}}{{end}}"> {{ with .Site.Params.author }}
    <meta name="author" content="{{ . }}">{{ end }}
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="google-site-verification" content="N7jAqj_MW6tgJz4W5AXMdDQhAbt6f52SE3EDhAxq-RY" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/flaticon/2.1.0/css/flaticon.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/others.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

</head>

<a href="https://api.whatsapp.com/send?text=Hello! I'm looking for Thanks!&amp;phone=+91 9813866346" target="_" class="whatsapp_float"><img src="/images/whatsapp.svg" alt="Screenshot"> </a>

<body>
    <div class="container text-center mt-2">
        <img src="/images/404.png" alt="404 Error">
        <div class=" mt-1">
            <h1 class="color4">Page Not Found</h1>
            <p>Error 404: This page has lost its way. Let’s get you back on track!</p>
        </div>
        <div class="mt-4">
            <a href="/" class="securitybtn pl-5 pr-5">Go Home</a>
        </div>
    </div>
</body>

<style>
    .color4 {
        color: #000!important;
        text-transform: capitalize;
    }
    
    .securitybtn {
        font-size: 20px;
        color: #fff !important;
        background: #786CE6 !important;
        border-radius: 10px;
        font-weight: 600;
        text-align: center;
        text-transform: none !important;
        padding: 10px;
    }
</style>

</html>